# Required for authenticated node form parsing, take it from the Cookie-editor extension after authorization
# Требуется для анализа полей, брать из расширения для Cookie-editor после авторизации
FUNPAY_GOLDEN_KEY=your_golden_key_here
FUNPAY_PHPSESSID=your_php_session_id_here


# ============== ID профилей/профиля для копирования лотов | Profiles/profile ID(s) for copying lots ==============
FUNPAY_USER_IDS=12345678
PREFERRED_NODES=123,123,123


# ============== Прочие настройки | Other settingss ==============
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
REQUEST_TIMEOUT=30
REQUEST_DELAY=0.5
LOG_LEVEL=INFO
#ru = rub, us = usd
PREFER_LOCALE=ru


# ============== Пути | Paths ==============
SNODS_DIR=snods
DONE_DIR=done
LOGS_DIR=logs


# ============== Базовые значения лотов | Default form values ==============
FORM_CREATED_AT=0
DEFAULT_AMOUNT=10000
DEFAULT_ACTIVE=on
